@import url("/home/brian/.cache/wal/colors-waybar.css");
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 2px solid aqua;
    
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: gray;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.active {
    color: white;
}


#cpu,
#memory,
#disk,
#pulseaudio,
#clock,
#window,
#tray,
#custom-logoutmenu,
#workspaces,
#network {
    margin: 0px 5px 0px;
    font-size: larger;
}
/*
#clock {
    border-bottom: 2px solid yellow;
}
#pulseaudio {
    border-bottom: 2px solid lime;
}
#tray {
    border-bottom: 2px solid darkcyan;
}

#cpu {
    border-bottom: 2px solid gray;
}
#memory {
    border-bottom: 2px solid green;
}
#disk {
    border-bottom: 2px solid aqua;
    margin-right: 10px;
}

#custom-logoutmenu {
    border-bottom: 2px solid red;
}
#network {
    border-bottom: 2px solid white;
}

#workspaces {
    border-bottom: 2px solid rgb(150, 3, 150);
}
*/